.char__form {
    margin-top: 30px;
    &__input-group{
        padding-top: 15px;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        >div {
            align-self: center;
            font-weight: bold;
            font-size: 18px;
            color: #03710E;
        }
    }
    &__label {
        font-size: 18px;
        font-weight: bold;
    }
    &__input {
        width: 100%;
        margin-right: 15px;
        padding: 10px;
        height: 38px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: none;
    }
    &__error {
        color: #9F0013;
        margin-top: 10px;
        font-weight: bold;
        font-size: 18px;
    }
}